/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  /* Firefox */

}

#scan {
  position: absolute;

  z-index: 0;
}



body {
  background-color: rgb(0, 9, 0);
}


.intro {
  font-family: 'vt323';
  padding-bottom: 25px;

}

.bio {
  display: flex;
}



.item {
  display: flexbox;
  margin: 15px;
  color: rgb(74, 239, 152);
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);

}

#final {
  margin-top: 0px;
  margin: 0px;
}


.subheading #bcursor {
  text-shadow: none;
}


#bcursor {
  margin-top: 0px;
  margin: 0px;
}

#crelem {
  display: inline;
}




.item-name {
  flex: 1;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}


.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: rgb(74, 239, 152);
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.subheading {
  color: rgb(74, 239, 152);
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
  font-family: 'vt323';

}



.name {
  font-family: 'vt323';
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
  color: rgb(74, 239, 152);
}

@keyframes blink {

  from,
  to {
    color: transparent;


  }

  50% {
    color: rgb(74, 239, 152);
    text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);

  }
}


.subheading {
  font-size: 35px;
}

.subheading h4 {
  display: inline;
}

.subdiv {}


.links {

  display: flex;
  margin-left: 275px;
  margin-right: 275px;
  justify-content: space-evenly;
  align-content: center;

}


.about {
  color: rgb(74, 239, 152);
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
  font-family: 'VT323';
  border-bottom: 0px;
  font-weight: 700;
  margin-bottom: 0px;
}


li {

  list-style: square;
  color: rgb(74, 239, 152);
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);

}

.langsec {
  display: inline;
  padding-bottom: 15px;
}

.divider {
  color: aqua;
}


a .name {}


a:link {
  text-decoration: none;
}


a:visited {
  text-decoration: none;
  color: rgb(74, 239, 152);
}


a:hover {
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

.cp-text {
  font-size: 13px;
}


p {
  color: rgb(74, 239, 152);
  font-family: 'VT323';
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);

}