/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
  background: #181c21;
}


.intro {
  font-family: sans-serif;
  margin-top: 175px;
}

.bio {
  display: flex;
}



.item {
  flex: 1;
  padding-bottom: 15px;
  padding-right: 100px;
  margin-right: 300px;
  
}
.item-name {
  flex: 1;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0px;
}


.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.name {
  color: aqua;
  font-family: Arial, Helvetica, sans-serif;  
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: aqua;
  }
}


.subheading {
  font-size: 35px;
}


.subdiv {
  margin-bottom: 100px;
}


.links {
  display: flex;
  margin-left: 275px;
  margin-right: 275px;
  justify-content: space-evenly;
  align-content: center;
  
}


.about {
  color: aqua;
  font-family: 'NTR';
  border-bottom: 0px;
  font-weight: 700;
}


li {
  list-style: square;
  color: aqua;
}

.langsec {
  flex: 1;
  padding-bottom: 15px;
}

.divider {
  color: aqua;
}


a .name {
  color: aqua;
}


a:link {
  color: aqua;
  text-decoration: none;
}


a:visited { 
  color: aqua;
  text-decoration: none; }


a:hover { 
  color: aqua;
  text-decoration: none;
}


a:active {
  color: aqua;
  text-decoration: none;
}

.cp-text {
  font-size: 13px;
}


